<div class="content col-md-12">
  <h1>Welcome Freud!</h1>
      <table style="overflow-x:scroll;" class="col-md-9">
        <tr>
          <td ng-repeat="workout in workoutPlan.workouts">
            <routinelist index="{{$index}}"/></routinelist>
          </td>
        </tr>
      </table>
      <div class="container col-md-3">
        <tr>
          <anatomyimage class="col-md-6" gender="male" angle="front" muscledata="regionDataMale" anatomyhoverid="anatomyHoverId"></anatomyimage>
          <anatomyimage class="col-md-6" gender="female" angle="front" muscledata="regionDataFemale" anatomyhoverid="anatomyHoverId"></anatomyimage>
        </tr>
      </div>
      <routinesearch/></routinesearch>
</div>
