<div class="content" ng-style="style()">
  <div class="row">
    <div id="wrapper" class="col-xs-9" style="height:60vh; overflow-x:auto; overflow-y:hidden;">
      <table>

        <tr ng-if="workoutPlan !== undefined && workoutPlan !== null" data-as-sortable="dragWorkoutControlListeners" data-ng-model="workoutPlan.workouts">
          <td ng-repeat="workout in workoutPlan.workouts" data-as-sortable-item style="display:table-cell; border:0px;">
            <routinelist index="{{$index}}"/></routinelist>
          </td>
        </tr>

      </table>
    </div>

    <div class="col-xs-3" style="height:30vh;">
      <anatomypanel gender="userGender" muscledata="muscleIntensityData" searchfilter="search"></anatomypanel>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-9" ng-if="workoutSearchOptions !== undefined && workoutSearchOptions !== null">
      <routinesearch></routinesearch>
    </div>
  </div>
</div>
