<div class="panel panel-default"  style="width:250px; max-width:250px;">
	<div class="panel-heading" data-as-sortable-item-handle>
    	<h3 class="panel-title">Workout {{routine.id}}</h3>-
  	</div>
	<div style="overflow-y:auto;" class="panel-body">
		<div  style="height:400px;"  data-as-sortable="dragExerciseControlListeners" data-ng-model="exercises">
			<div ng-repeat="exercise in exercises">
				<div >
					<exerciseitem class="routineexe" ></exerciseitem>
				</div>
			</div>
		</div>
	</div>
</div>
