<div class="panel panel-default size-fill routinelist-column-panel">
	<div class="panel-heading routinelist-column-header" data-as-sortable-item-handle>
		<h3 class="panel-title"  ng-if="noEdit" ng-click="renameWorkout()" >{{routine.name}}
			<span ng-click="removeRoutine($index)" role="button" >
				<span class="glyphicon glyphicon-remove-sign" aria-hidden="true" ></span>
			</span>
		</h3>
		<form ng-submit="saveWorkoutName()">

			<input ng-if="!noEdit" ng-model="tempName" class="workoutNameInputField" type="text" ng-blur="removeFocus()" />
			<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
		</form>

	</div>
	<div class="panel-body routinelist-column-content" data-as-sortable="dragExerciseControlListeners" data-ng-model="exercises">
		<div class="remove-sortable-css" ng-repeat="exercise in exercises" data-as-sortable-item>
			<exerciseitem class="routineexe" ></exerciseitem>
		</div>
	</div>
</div>
