<label class="row row-centered search-box">Search: <input id="searchbox" class="search-input"  ng-model="queryText" ng-keyup="dosearch()" >
    <a ng-click="queryText='';dosearch()" role="button">
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" ></span>
    </a>
</label>

<div class="row row-centered search-result">
        <div class="search-column" ng-repeat="columne in exercises2"  >
            <span data-as-sortable="dragExerciseControlListeners" data-ng-model="columne">
              <div ng-repeat="exercise in columne | filter:search.filter">
                <searchitem data-as-sortable-item class="exercisesearch remove-sortable-css"> </searchitem>
              </div>
          </span>
       </div>
</div>
