<label class="row row-centered search-box">Search: <input id="searchbox" class="search-input" ng-model="search.filter" ng-model-options="{ getterSetter: true }">
    <span ng-click="search.filter = '' " role="button">
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" ></span>
    </span>
</label>

<div class="row row-centered search-result">
        <div class="search-column" ng-repeat="column in exercises2"  >
            <span data-as-sortable="dragExerciseControlListeners" data-ng-model="column">
              <div ng-repeat="exercise in column | filter:search.filter">
                <searchitem data-as-sortable-item class="exercisesearch remove-sortable-css"> </searchitem>
              </div>
          </span>
       </div>
</div>
