.anatomy-image {
  @include size(100%, 100%);
  @include make-xs-column(6);
}

.anatomy-svg-panel {
  @include size(100%, 95%);
}

.anatomy-delimiter {
    @include size(80%, 1px);
    margin-top: 4%;
    margin-bottom: 0px;
    border-color: $main-border-color;
}

.muscle-group {

}

.muscle-hover {
  stroke-width: 2.5;
  stroke: #000;
  fill-opacity: 0.4;
}
