
// test
$main-border-color: #FFFFFF;

$main-background-color: #464B53;
$main-background-color-dark: #444444;
$main-background-color-light: #7C8492;

$alt-background-color: #B2BED2;
$alt-background-color-dark: #B2BED2	;
$alt-background-color-light: #464B53;
$alt-background-color-muscle-list: #DDEAFF;
