
// test
$main-border-color: #000000;

$main-background-color: #257CBC;
$main-background-color-dark: #1F6AA0;
$main-background-color-light: #5995BD;

$alt-background-color: #FF8800;
$alt-background-color-dark: #D9882A;
$alt-background-color-light: #FFFFFF;
