html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-weight: 100;
    font-family: 'Lato';
    overflow:hidden;
    background-color: $main-background-color;
}
.heading {
  text-align: center;
  font-size: 36px;
  margin:0px;
}

.upper-content {
  @include make-row();
  margin: 0px;
}

.anatomy-panel {
    @include panel-variant($main-background-color, #000000, #000000, #000000);
    @include make-xs-column(3);
    @include size(25vw, 60vh);

    background-color: $main-background-color !important;
    margin-bottom: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0px;
}

.workoutplan-panel {
    @include panel-variant($main-border-color, #000000, #000000, #000000);
    @include make-xs-column(9);
    @include size(74vw, 60vh);

    background-color: $main-background-color-dark !important;
    padding-top: 15px;
    padding-left: 0px;
    margin: 0px;
    overflow-y: hidden !important;
    overflow-x: auto !important;
    white-space: nowrap !important;
    text-align: left;
}

.plan-content {
    height: 100% !important;
    display: inline-block;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    white-space: nowrap !important;
    text-align: left;
}

.search-panel {
    @include panel-variant($main-background-color, #000000, #000000, #000000);
    @include make-row();
    @include size(100%, 40%);

    background-color: $main-background-color !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0px;
    padding-top: 10px;

}

.size-fill {
    @include size(100%, 100%);
}

.size-max {
    max-height: 100%;
    max-width: 100%;
}

.size-max-inherit {
    max-height: inherit;
    max-width: inherit;
}

.off-screen {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    //display: inline-block;
}

.title {
    font-size: 96px;
}

.routinelist-column {
    width:250px;
    max-width:250px;
    max-height: 100%;
    min-height: 1px !important;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 0px;
    //float: left;
    border: none;
    display: inline-block !important;
    vertical-align: top;
    text-align: center;

    .new-workout-header {
        background-color: $main-background-color-light !important;
        border: 0px;

        .text {
              font-weight:bold !important;
              //color: #FFFFFF;
        }
    }
}

.routinelist-column-panel {
    margin: 0px;
    max-height: 100%;
    border-color: black !important;
    background-color: $main-background-color-light !important;
    border-color: $main-background-color !important;

}

.routinelist-column-header {
    @include size(100%, 8%);
    background-color: $alt-background-color !important;
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: table;

    .text {
          font-weight:bold !important;
          vertical-align:middle;
          align:middle;
          display: table-cell;
    }

    .remove-button {
      // todo
    }
}

.routinelist-column-content {
    background-color: $main-background-color-light !important;
    margin: 0px;

    height: 92%;
    overflow-y:auto;
    overflow-x:hidden;

}

.as-sortable-placeholder-workout {
    display: inline-block !important;
    margin-left: 15px !important;
    border-style: inset !important;
    border-color: $main-background-color !important;
    background-color: $main-background-color-light !important;
}
.as-sortable-placeholder-exercise {
    display: inline-block !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    width: 100% !important;
    border-style: inset !important;
    border-color: $main-background-color !important;
    background-color: $alt-background-color-muscle-list !important;
  .searchitem {

  }

}

.as-sortable-placeholder-okej {
    border-color: green !important;
    background-color: green !important;
}

.as-sortable-placeholder-notokej {
    border-color: green !important;
    background-color: green !important;
}

.as-sortable-dragging{
  @include panel-variant($main-background-color, $alt-background-color-light, $alt-background-color, $main-background-color);
  overflow: hidden !important;
  padding: 0px !important;
  //margin: 0px !important;
  margin-left: 0px !important;
  text-align: center !important;
  align-content: center !important;
   .routinelist-column, .searchitem {
     margin: 0px !important;
   }
}

.exerciseitem {
    @include panel-variant($main-background-color, $alt-background-color-light, $alt-background-color, $main-background-color);

}

.searchitem {
    @include panel-variant($main-background-color, $alt-background-color-light, $alt-background-color, $main-background-color);
    @extend exerciseitem;


    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;

    .item-heading {

    }
}

.remove-sortable-css {
    border: 0px;
    margin: 0px;
    background-color: transparent;
}

.search-result {
    margin: 0px;
    overflow-y:auto;

    .search-column {
        width:16.66%;
        float:left;
        margin:0px;
        border:0px;
    }
}

.search-box {
    color: white;

    .search-input {
      color: black;
    }
}

.new-row {

}

.muscle-list {
  padding: 5%;
  padding-left: 10%;
}
.muscle-panel{
  background-color: $alt-background-color-muscle-list !important;
}
