<div class="panel panel-default searchitem" >
    <div class="panel-heading item-heading" role="tab" id="heading-{{exercise.id}}" data-as-sortable-item-handle>
      <h4 class="panel-title row">
        <div class="panel-button" role="button" ng-click="collapse($index)">
          {{exercise.name}}
        </div>
      </h4>
    </div>
    <div id="collapse-{{exercise.id}}" class="panel-collapse collapse muscle-panel">
      <div class="panel-body">
        <ul class="muscle-list">
          <li align="left" ng-repeat="muscle in exercise.muscles">
            <span style="font-weight:bold;">{{muscle.name}}</span>
          </li>
        </ul>
      </div>
    </div>
</div>
