<div class="panel panel-default exerciseitem" >
    <div class="panel-heading" role="tab" id="heading-{{exercise.id}}" data-as-sortable-item-handle>
      <div class="panel-title row">
        <div class="panel-button col-xs-9"  data-parent="#accordion">
          <div>
            <span role="button" ng-click="colapse($index)">
              {{exercise.name}}
            </span>
          </div>
        </div>
        <div ng-click="removeExercise($index)" role="button" class="col-xs-2">
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" ></span>
        </div>
      </div>
    </div>
    <div id="collapse-{{exercise.id}}" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li ng-repeat="muscle in exercise.muscles">
            <span align="left" style="font-weight:bold; text-align:">{{muscle.name}}</span>
          </li>
        </ul>
      </div>
    </div>
</div>
