<div ng-if="gender == 'male'">
  <anatomyimage class="col-md-6" gender="male" angle="front" muscledata="regionData" anatomyhoverid="anatomyHoverId" searchfilter="searchfilter"></anatomyimage>
  <anatomyimage class="col-md-6" gender="male" angle="front" muscledata="regionData" anatomyhoverid="anatomyHoverId" searchfilter="searchfilter"></anatomyimage>
</div>
<div ng-if="gender == 'female'">
  <anatomyimage class="col-md-6" gender="female" angle="front" muscledata="regionData" anatomyhoverid="anatomyHoverId" searchfilter="searchfilter"></anatomyimage>
  <anatomyimage class="col-md-6" gender="female" angle="front" muscledata="regionData" anatomyhoverid="anatomyHoverId" searchfilter="searchfilter"></anatomyimage>
</div>
