<div ng-if="gender == 'male'" class="anatomy-svg-panel">
  <anatomyimage class="anatomy-image" gender="male" angle="front" muscledata="regionData" anatomyhoverid="anatomyHoverId"></anatomyimage>
  <anatomyimage class="anatomy-image" gender="male" angle="front" muscledata="regionData" anatomyhoverid="anatomyHoverId"></anatomyimage>
</div>
<div ng-if="gender == 'female'" class="anatomy-svg-panel">
  <anatomyimage class="anatomy-image" gender="female" angle="front" muscledata="regionData" anatomyhoverid="anatomyHoverId"></anatomyimage>
  <anatomyimage class="anatomy-image" gender="female" angle="front" muscledata="regionData" anatomyhoverid="anatomyHoverId"></anatomyimage>
</div>

<hr class="anatomy-delimiter">
